$c_blue: #2196f3;

*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: $c_blue;
}

#modal{
	background-color: $c_blue;

	.title{
		text-shadow: 0 0 5px rgba(255, 255, 255, .6);
	}
}

.directory{
	max-width: 100px;
	max-height: 100px;
	i{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	a.remove{
		position: absolute;
		background-color: white;
	}
	p.name{
		z-index: 1;
		text-align: center;
	}
	img{
		border-radius: 10px;
		max-height: 70px;
		width: auto;
	}
}


form#my-awesome-dropzone.dropzone{
	border: 2px dashed #2196f3;
	.dz-message{
		font-size: 20px;
		color: #999;
		font-style: italic;
	}
}

.scroll-fix{
	max-height: 400px;
	overflow-y: scroll;
}
