<div class="card">
	<div class="card-content scroll-fix">
		<div class="row">
			<%= render "dir_content" %>
			<%= render "files_content" if @directory.present? %>
		</div>
	</div>
	<div class="card-action">
		<%= render "upload" if @directory.present? %>
	</div>
</div>