<header>
	<nav>
		<div class="nav-wrapper">
			<%= render "breadcrumb" %>

			<ul class="right">
				<li><a onclick="new_directory(<%= @directory&.id %>);"><i class="material-icons">add_circle</i></a></li>
			</ul>
		</div>
	</nav>
</header>